.dateInputWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 15px;
}
.inputContainer {
  position: relative;
  width: 100%;
}
.leftIcon,
.rightIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-45%);
  z-index: 1;
  pointer-events: none;
}
.leftIcon {
  left: 12px;
}
.rightIcon {
  right: 12px;
}

.react-datepicker {
  width: 100%;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #c4c8ce;
  font-size: 1rem;
  color: #333333;
  transition: all 0.4s ease;
}
.react-datepicker .react-datepicker-wrapper {
  width: 100%;
  cursor: pointer;
}
.reactDatePicker {
  width: 100%;
}
.input {
  width: 100%;
}
.react-datepicker__input-container {
  width: 100%;
}
.react-datepicker__input-container input {
  width: 100%;
  padding: 8px 40px;
  border-radius: 8px;
  border: 1px solid #c4c8ce;
  font-size: 1rem;
  color: #000000;
  transition: all 0.4s ease;
}

.datepicker::placeholder {
  color: #96989e;
  font-size: 0.8rem;
}
.react-datepicker__input-container > input {
  width: 100%;
}
.inputContainer input {
  width: 100%;
  padding: 8px 40px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #c4c8ce;
}
.reactDatePickerWrapper {
  width: 100%;
  display: block;
  cursor: pointer;
}
